* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121214;
}

main {
    margin-bottom: 100px;
    width: 100vw;
    height: 250px;
    max-width: 240px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    margin: auto 0;
}

.hide {
    display: none;
}

.timer-wrapper, .buttons-wrapper {
    height: 50%;
    width: 100%;
}

.timer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer-wrapper span {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 8.8rem;
    color: white;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: rgba(66, 211, 255, 0.13);
    border-radius: 9999px;
}

.bottom-btn-wrapper {
    position: absolute;
    bottom: 25px;
    right: 30px;
    height: fit-content;
    width: fit-content;
    max-width: 64px;
    max-height: 64px;
}